.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* revisar */
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

/* comportamento do menu aparecer e desaparecer */

.lista-menu {
    display: none;
    position: absolute; /* revisar */
    top: 100%; /* revisar */
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block; /* comportamento do menu aparecer e desaparecer */
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text; /* faz parte do kit da fonte, está no Figma do projeto */
    -webkit-text-fill-color: transparent; /* faz parte do kit da fonte, está no Figma do projeto */
    background-clip: text; /* faz parte do kit da fonte, está no Figma do projeto */
    text-transform: uppercase; /* letra maiúscula */
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
        display: block;
    }

    .container__titulo {
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    }